# Git
.git
.gitignore
.gitattributes

# GitHub
.github

# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea
*.iml
*.iws
*.ipr
out/

# Logs
*.log

# Test
test/

# Documentation
README.md
docs/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db
